@media (max-width: 1415px) {
    .about {
        &__btn {
            top: 100%;
            transform: translateY(-115%);
        }

        &__prev {
            left: 0;
        }

        &__next {
            left: 70px;
        }
    }

    .about-clinic {

        &__caption {
            display: none;
        }

    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about-clinic {
        &__caption {
            width: 110px;
        }
    }

    .service__item {
        width: 300px;
        padding: 34px 15px 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 90%;
        padding: 0 20px;
    }

    .burger {
        display: block;
    }

    .navigation {
        &__wrapper {
            display: none;
        }

        &__list {
            flex-direction: column;

            &-close {
                display: block;
            }
        }

        &__item {
            margin: 0;
            width: 100%;

        }



    }

    // стили для открытия меню (ul)
    .open-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 30px 20px;
        margin: 0;
        overflow-y: auto;

    }

    .search {
        margin-top: 50px;
    }

    .service {
        &__item {
            width: 100%;
            padding: 34px 30px 20px;
        }

        &__link {
            width: 48%;
        }
    }

}

@media (max-width: 925px) {
    .top {
        &__address {
            display: none;
        }
    }

    .about-clinic {

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            flex-basis: 100%;

            img {
                filter: grayscale(100%);
            }
        }

        &__info {
            flex-basis: 100%;
            position: relative;
            z-index: 200;
        }
    }


}

@media (max-width: 768px) {}

@media (max-width: 720px) {
    .container {
        max-width: 95%;
        padding: 0 20px;
    }

    .top {
        &__button {
            font-size: 0;
            height: 100%;
            padding: 0 10px;

            &:before {
                position: relative;
                left: 0;
                top: 0;
                display: block;
            }
        }
    }

    .about {

        &__title {
            font-size: 30px;
            max-width: 480px;
        }

        &__btn {
            width: 40px;
            height: 40px;
            background-size: 11px 23px;
        }

        &__description {
            color: #000;
        }

        &__bg {
            opacity: .4;

            img {}
        }

        &__content {
            padding: 78px 0 80px;
        }
    }



    .data-clinic {
        align-items: flex-start;
        flex-direction: column;

        &__line {
            display: none;
        }

    }

    .service {

        &__link {
            width: 100%;
        }

        &__item {
            padding: 34px 10px 20px;
        }
    }
}

@media (max-width: 576px) {

    .about {

        &__title {
            font-size: 25px;
            max-width: 380px;
        }


    }
}

@media (max-width: 480px) {
    .modal-callback {
        padding: 40px 0;
        width: 100%;

        &__title {
            font-size: 18px;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }

    .about-clinic {
        &__title {
            font-size: 16px;
        }



    }

    .data-clinic {
        &__name {
            font-weight: bold;
            font-size: 13px;
        }

        &__value {
            font-size: 12px;
        }
    }
}

@media (max-width: 320px) {
    .about-clinic {
        &__main-doctor {
            font-size: 12px;
        }
    }
}



//  вертикальный медиа+==========================================

@media (max-height: 540px) {
    .modal-callback {
        padding: 30px 0;

        &__title {
            font-size: 18px;
            margin-bottom: 0;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 15px;
        }

        &__input {
            height: 30px;
        }

        &__personal-data {
            margin-top: 15px;
            margin-bottom: 9px;
        }

        &__button {
            padding: 5px 60px;
        }

        &__label {
            font-size: 12px;
            line-height: 20px;
        }
        

    }
    
}

@media (max-height: 320px) {
    .modal-callback {
        padding: 0;
    }

    .about-clinic__description {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0 20px;
    }

    


}