@media (max-width: 1415px) {
    .about {
        &__btn {
            top: 100%;
            transform: translateY(-115%);
        }

        &__prev {
            left: 0;
        }

        &__next {
            left: 70px;
        }
    }

    .about-clinic {

        &__caption {
            display: none;
        }

    }

    .departments__btn {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about-clinic {
        &__caption {
            width: 110px;
        }
    }

    .service__item {
        width: 300px;
        padding: 34px 15px 20px;
    }

    .recording {
        &__form {
            max-width: 650px;

            &-section {
                flex-wrap: wrap;
            }
        }

        &__input {
            width: 30%;
            padding: 0 20px;
        }
    }

    .reviews__container-main {
        width: 50%;
    }

    .reviews__container-second {
        width: 50%;
    }

    .certificates__item {
        height: 410px;
    }

    .certificates__slider {
        height: 490px;
        padding: 46px 0 0px;
    }


    .slider-top {
        &__item {
            .slider-top__name {
                font-size: 12px;
                padding: 15px 5px;
                min-width: 225px;
            }
        }
    }

    .footer__nav-link {
        margin-right: 25px;
    }

    .service-list {
        &__content {}
    }




}

@media (max-width: 992px) {
    .container {
        max-width: 90%;
        padding: 0 20px;
    }

    .burger {
        display: block;
    }

    .navigation {
        &__wrapper {
            display: none;
        }

        &__list {
            flex-direction: column;
            margin: 0;
            padding: 0;

            &-close {
                display: block;
            }
        }

        &__item {
            margin: 0;
            width: 100%;

        }



    }

    // стили для открытия меню (ul)
    .open-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 30px 20px;
        margin: 0;
        overflow-y: auto;

    }


    .search {
        margin-top: 50px;
    }

    .service {
        &__content {
            justify-content: space-between;
            margin: 0;
        }

        &__item {
            width: 100%;
            padding: 34px 30px 20px;
        }

        &__link {
            width: 48%;
            margin: 0 0 30px;
        }
    }

    .recording {
        &__form {
            max-width: 100%;

        }

        &__image {
            display: none;
        }

        &__input {
            width: 30%;
            padding: 0 20px;

        }
    }

    .reviews__container-main {
        width: 100%;
    }

    .reviews__container-second {
        width: 100%;
    }

    .reviews__body {
        flex-wrap: wrap;
    }

    .certificates__item {
        height: 360px;
    }

    .certificates__slider {
        height: 440px;
    }

    .reviews__container-second {
        height: 240px;
    }

    .reviews {
        margin-bottom: 50px;
        margin-top: 60px
    }

    .info {
        padding: 60px 0 50px;

        &__image {
            display: none;
        }

        &__content {
            width: 100%;
        }

        &__description {
            padding-bottom: 35px;
            padding-right: 0;
        }

        &__link {
            margin-top: 30px;
        }
    }

    .statistics {

        &__wrapper {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            margin: 20px 0;
        }

        &__description {
            max-width: 225px;
        }
    }

    .tabs {
        &__item {
            flex-direction: column;
        }

        &__image {
            height: 285px;
            flex-basis: 100%;
            margin-top: 20px;
        }
    }

    .specialists {
        padding: 50px 0;
    }

    .specialists-tabs {
        &__item {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        &__column {
            width: 100%;
            margin-bottom: 20px;
        }

        &__info-wrapper {
            align-items: flex-start;
            padding-top: 0px;
            flex-direction: column;
        }

        &__image {
            margin: 20px 0 0;

        }

        &__description {
            padding: 29px 0;
        }

    }

    .footer__nav {
        display: flex;
        flex-direction: column;
    }

    .footer__nav-link {
        margin: 0 0 15px;
    }

    .contacts {
        &__content {
            flex-direction: column;
            align-items: flex-start;
        }

        &__item {
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
        }

        &__img {
            width: 65px;
            margin-right: 30px;
        }

    }

}

@media (max-width: 925px) {
    .top {
        &__address {
            display: none;
        }
    }

    .about-clinic {

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            flex-basis: 100%;

            img {
                filter: grayscale(100%);
            }
        }

        &__info {
            flex-basis: 100%;
            position: relative;
            z-index: 200;
        }
    }

    .certificates__item {
        height: 330px;
    }

    .service-list {
        &__item {
            margin: 20px 0;
        }

        &__content {
            justify-content: space-between;
            margin: 0;
        }
    }
}

@media (max-width: 850px) {
    .certificates__item {
        height: 305px;
    }

    .certificates__slider {
        height: 385px;
    }

    .footer__copyright {
        font-size: 12px;
    }

    .footer__developer {
        font-size: 12px;
    }
}

@media (max-width: 770px) {
    .certificates__item img {
        object-fit: contain;
    }

    .certificates__title {
        margin-bottom: 20px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 95%;
        padding: 0 20px;
    }

    .header__logo-link {
        img {
            width: 135px;
        }
    }

    .top {
        &__button {
            font-size: 0;
            height: 100%;
            padding: 0 10px;

            &:before {
                position: relative;
                left: 0;
                top: 0;
                display: block;
            }
        }
    }

    .about {

        &__title {
            font-size: 30px;
            max-width: 480px;
        }

        &__btn {
            width: 40px;
            height: 40px;
            background-size: 11px 23px;
        }

        &__description {
            color: #000;
        }

        &__bg {
            opacity: .4;

            img {}
        }

        &__content {
            padding: 78px 0 80px;
        }
    }



    .data-clinic {
        align-items: flex-start;
        flex-direction: column;

        &__line {
            display: none;
        }

    }

    .service {

        &__link {
            width: 100%;
        }

        &__item {
            padding: 34px 10px 20px;
        }
    }

    .recording {

        &__input {
            width: 100%;
            padding: 0 20px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__top {
            padding: 0;
        }
    }

    .second-slider {
        &__text {
            font-size: 12px;
            text-align: justify;
            line-height: 20px;
        }
    }

    .footer__bottom-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .footer__copyright {
        margin-bottom: 15px;
    }

    .footer__top-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .footer__nav {
        margin-bottom: 20px;
        align-items: center;

        li {
            text-align: center;
            margin-right: 0;
        }
    }

    .footer__developer {
        text-align: center;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .departments {
        padding: 50px 0;
        position: relative;
    }


    .departments__pagination .swiper-pagination-bullet {
        width: 15px;
    }

    .prices {
        padding: 30px 0 40px;


        &__content-item {
            table {
                tr {
                    td {
                        padding: 10px 10px;
                        font-size: 12px;
                        width: 80%;
                    }
                }
            }
        }

    }

    .contacts {
        &__img {
            width: 40px;

            &-phone {
                height: 35px;
                width: 35px;
            }

            &-map {
                width: 25px;
                height: 35px;
            }

            &-mail {
                height: 35px;
                width: 41px;
            }

        }

        &__caption {
            margin: 0 0 5px;
            font-size: 16px;
        }
    }

    .service-list {
        padding: 50px 0;

        &__image {
            width: 70px;
            height: 70px;

            img {
                width: 50%;
                object-fit: contain;
            }
        }

        &__category {
            font-size: 18px;
        }

        &__item {
            flex-basis: 100%;
        }
    }

    .title {
        margin: 0 0 35px;
    }

    .service-price {

        &__button {
            display: inline-block;
            margin-bottom: 50px;
        }

        &__inner {
            position: fixed;
            top: 0;
            height: 100vh;
            margin: 0;
            width: 100%;
            left: -200%;
            background: #fff;
            transition: .3s;
            z-index: 200;

            flex-direction: column;
            flex-wrap: nowrap;
            overflow-y: auto;
            padding: 60px 0;
            align-items: center;

            &--active {
                left: 0;
            }
        }

        &__item {
            display: flex;
            justify-content: center;
            min-width: 200px;
            max-width: 80%;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid #e5e5e5;
            background-color: #f8f8f8;
            margin-bottom: 10px;
            transition: .3s;
            margin: 8px 0px;
            &--active {
                background-image: linear-gradient(to right, #0085c7 0%, #00b4c2 100%);
                color: #fff;
            }
        }

        &__image {
            display: none;
        }

        &__category {
            font-size: 16px;
            line-height: 18px;
            margin-left: 10px;
            color: inherit;
        }

        &__close {
            display: block;
        }
    }

    .blog-head{
        &__title{
            font-size: 30px;
            max-width: 380px;
        }
        &__bg{
            opacity: .4;
        }
        &__description{
            font-size: 18px;
            color: #000;
        }
    }

}

@media (max-width: 576px) {

    .about {
        &__title {
            font-size: 25px;
            max-width: 380px;
        }
    }

    .service__subtitle {
        font-size: 18px;
    }

    .recording {
        &__form-personal-data {
            width: 100%;
        }

        &__form-bottom {
            flex-wrap: wrap;
        }

        &__form-btn {
            margin-top: 20px;
        }

        &__textarea {
            padding: 10px;
        }

        &__input {
            padding: 0 10px;
        }

        &__title {
            font-size: 20px;
        }
    }

    .second-slider {
        &__text {
            font-size: 12px;
            text-align: justify;
            line-height: 20px;
        }

        &__item {
            padding: 20px 0 0;

        }

        &__item:before {
            left: 0;
        }

        &__link {
            padding: 10px 30px;
        }
    }

    .main-slider {
        height: 160px;

        &__item {
            width: 100%;
            flex-direction: column;
            padding: 15px 0;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px;
        }

        &__avatar {
            width: 50px;
            height: 50px;
        }

        &__name {
            font-size: 14px;
            margin: 0 0 5px;
        }

        &__hole {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }

        &__service {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }


    }

    .reviews {
        &__title {
            font-size: 20px;
            margin: 0 0 50px;
        }

        &__buttons {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        &__btn {
            width: 35px;
            height: 35px;
            background-size: 17px 9px;
        }
    }

    .certificates__title {
        font-size: 20px;
    }

    .info {

        &__text {
            line-height: 20px;
            text-align: left;
        }

        &__body {
            margin-top: 40px;
        }

        &__link {
            padding: 10px 30px;
        }
    }

    .statistics__item {
        width: 100%;
    }

    .title {
        font-size: 20px;
    }

    .specialists {
        padding: 30px 0;

        &__choice {
            display: flex;
        }

        &__top {
            position: fixed;
            background: #fff;
            top: 0;
            bottom: 0;
            left: -150%;
            width: 100%;
            z-index: 1000;
            flex-direction: column;
            align-items: center;
            padding: 65px 0;
            overflow-y: auto;
            flex-wrap: nowrap;
            transition: .3s;
            margin: 0;

            &--active {
                left: 0;
            }
        }

        &__close {
            display: block;

        }
    }

    .service-list {
        &__item {
            flex-basis: 100%;
        }
    }

    .blog-head{
        &__title{
            font-size: 24px;
            max-width: 380px;
        }
       
        &__description{
            font-size: 14px;
        }
    }

}

@media (max-width: 480px) {
    .modal-callback {
        padding: 40px 0;
        width: 100%;

        &__title {
            font-size: 18px;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }

    .about-clinic {
        &__title {
            font-size: 16px;
        }



    }

    .data-clinic {
        &__name {
            font-weight: bold;
            font-size: 13px;
        }

        &__value {
            font-size: 12px;
        }
    }

    .reviews__container-second {
        height: 320px;
    }

    .certificates__container {
        .swiper-slide-active {
            transform: scale(1);
        }

    }

    .certificates__slider {
        height: 335px;
        padding: 20px 0 0px;
    }

    .certificates__text {
        font-size: 12px;
        line-height: 18px;
    }

    .statistic__name {
        font-size: 12px;
    }

    .tabs__description {
        margin: 0 0 15px 0;
        color: #757575;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
    }

    .specialists-tabs__name {
        font-size: 16px;
    }

    .specialists-tabs__image {
        width: 100%;
        height: auto;
    }

    .address__text {
        width: 90%;
        font-size: 12px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__text {
        font-size: 12px;
    }

    .contacts__img {
        margin-right: 15px;
    }

    .contacts {
        padding: 25px 0;
    }

    .prices {

        &__content-item {
            table {
                tr {
                    td {
                        padding: 10px 10px;
                        line-height: 1.3;
                        font-size: 12px;
                        width: 80%;
                    }
                }
            }
        }


    }
}

@media (max-width: 320px) {
    .about-clinic {
        &__main-doctor {
            font-size: 12px;
        }
    }

    .info__text {
        font-size: 12px;
    }

    .statistics__value {
        font-size: 36px;
    }

    .statistics__description {
        font-size: 12px;
    }

    .statistics__item {
        margin: 15px 0;
    }

    .title {
        font-size: 16px;
    }

    .specialists-tabs__image {
        width: 100%;
        height: auto;
    }



    .service-list {


        &__category {
            font-size: 16px;
        }


    }
}



//  вертикальный медиа+==========================================

@media (max-height: 540px) {
    .modal-callback {
        padding: 30px 0;

        &__title {
            font-size: 18px;
            margin-bottom: 0;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 15px;
        }

        &__input {
            height: 30px;
        }

        &__personal-data {
            margin-top: 15px;
            margin-bottom: 9px;
        }

        &__button {
            padding: 5px 60px;
        }

        &__label {
            font-size: 12px;
            line-height: 20px;
        }


    }

}

@media (max-height: 320px) {
    .modal-callback {
        padding: 0;
    }

    .about-clinic__description {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0 20px;
    }




}