@media (max-width: 1415px) {
    .about {
        &__btn {
            top: 100%;
            transform: translateY(-115%);
        }

        &__prev {
            left: 0;
        }

        &__next {
            left: 70px;
        }
    }

    .about-clinic {

        &__caption {
            display: none;
        }

    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about-clinic {
        &__caption {
            width: 110px;
        }
    }

    .service__item {
        width: 300px;
        padding: 34px 15px 20px;
    }

    .recording {
        &__form {
            max-width: 650px;

            &-section {
                flex-wrap: wrap;
            }
        }

        &__input {
            width: 30%;
            padding: 0 20px;
        }
    }

    .reviews__container-main {
        width: 50%;
    }

    .reviews__container-second {
        width: 50%;
    }
    .certificates__item{
        height: 410px;
    }
    .certificates__slider{
        height: 490px;
        padding: 46px 0 0px;
    }



}

@media (max-width: 992px) {
    .container {
        max-width: 90%;
        padding: 0 20px;
    }

    .burger {
        display: block;
    }

    .navigation {
        &__wrapper {
            display: none;
        }

        &__list {
            flex-direction: column;

            &-close {
                display: block;
            }
        }

        &__item {
            margin: 0;
            width: 100%;

        }



    }

    // стили для открытия меню (ul)
    .open-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 30px 20px;
        margin: 0;
        overflow-y: auto;

    }

    .search {
        margin-top: 50px;
    }

    .service {
        &__item {
            width: 100%;
            padding: 34px 30px 20px;
        }

        &__link {
            width: 48%;
        }
    }

    .recording {
        &__form {
            max-width: 100%;

        }

        &__image {
            display: none;
        }

        &__input {
            width: 30%;
            padding: 0 20px;

        }
    }

    .reviews__container-main {
        width: 100%;
    }

    .reviews__container-second {
        width: 100%;
    }

    .reviews__body {
        flex-wrap: wrap;
    }
    .certificates__item{
        height: 360px;
    }
    .certificates__slider{
        height: 440px;
    }
    .reviews__container-second {
        height: 240px;
    }
    .reviews{
        margin-bottom: 50px;
        margin-top: 60px
    }

}

@media (max-width: 925px) {
    .top {
        &__address {
            display: none;
        }
    }

    .about-clinic {

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            flex-basis: 100%;

            img {
                filter: grayscale(100%);
            }
        }

        &__info {
            flex-basis: 100%;
            position: relative;
            z-index: 200;
        }
    }
    .certificates__item{
        height: 330px;
    } 

}

@media (max-width: 850px) {
    .certificates__item {
        height: 305px;
    }
    .certificates__slider{
        height: 385px;
    }
}

@media (max-width: 770px) {
    .certificates__item img{
        object-fit: contain;
    }
    .certificates__title{
        margin-bottom: 20px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 95%;
        padding: 0 20px;
    }

    .top {
        &__button {
            font-size: 0;
            height: 100%;
            padding: 0 10px;

            &:before {
                position: relative;
                left: 0;
                top: 0;
                display: block;
            }
        }
    }

    .about {

        &__title {
            font-size: 30px;
            max-width: 480px;
        }

        &__btn {
            width: 40px;
            height: 40px;
            background-size: 11px 23px;
        }

        &__description {
            color: #000;
        }

        &__bg {
            opacity: .4;

            img {}
        }

        &__content {
            padding: 78px 0 80px;
        }
    }



    .data-clinic {
        align-items: flex-start;
        flex-direction: column;

        &__line {
            display: none;
        }

    }

    .service {

        &__link {
            width: 100%;
        }

        &__item {
            padding: 34px 10px 20px;
        }
    }

    .recording {

        &__input {
            width: 100%;
            padding: 0 20px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__top {
            padding: 0;
        }
    }
    .second-slider {
        &__text {
            font-size: 12px;
            text-align: justify;
            line-height: 20px;
        }
    }
}

@media (max-width: 576px) {

    .about {
        &__title {
            font-size: 25px;
            max-width: 380px;
        }
    }

    .service__subtitle {
        font-size: 18px;
    }

    .recording {
        &__form-personal-data {
            width: 100%;
        }

        &__form-bottom {
            flex-wrap: wrap;
        }

        &__form-btn {
            margin-top: 20px;
        }

        &__textarea {
            padding: 10px;
        }

        &__input {
            padding: 0 10px;
        }

        &__title {
            font-size: 20px;
        }
    }

    .second-slider {
        &__text {
            font-size: 12px;
            text-align: justify;
            line-height: 20px;
        }

        &__item {
            padding: 20px 0 0;

        }

        &__item:before {
            left: 0;
        }

        &__link {
            padding: 10px 30px;
        }
    }

    .main-slider {
        height: 160px;

        &__item {
            width: 100%;
            flex-direction: column;
            padding: 15px 0;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 10px;
        }

        &__avatar {
            width: 50px;
            height: 50px;
        }

        &__name {
            font-size: 14px;
            margin: 0 0 5px;
        }

        &__hole {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }

        &__service {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }

        
    }

    .reviews {
        &__title {
            font-size: 20px;
            margin: 0 0 50px;
        }

        &__buttons {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        &__btn {
            width: 35px;
            height: 35px;
            background-size: 17px 9px;
        }
    }
    .certificates__title{
        font-size: 20px;
    }

}

@media (max-width: 480px) {
    .modal-callback {
        padding: 40px 0;
        width: 100%;

        &__title {
            font-size: 18px;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 50px;
        }
    }

    .about-clinic {
        &__title {
            font-size: 16px;
        }



    }

    .data-clinic {
        &__name {
            font-weight: bold;
            font-size: 13px;
        }

        &__value {
            font-size: 12px;
        }
    }
    .reviews__container-second{
        height: 320px;
    }
    .certificates__container{
        .swiper-slide-active {
            transform: scale(1);
        }
    
    }
    .certificates__slider {
        height: 335px;
        padding: 20px 0 0px;
    }
    .certificates__text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 320px) {
    .about-clinic {
        &__main-doctor {
            font-size: 12px;
        }
    }
}



//  вертикальный медиа+==========================================

@media (max-height: 540px) {
    .modal-callback {
        padding: 30px 0;

        &__title {
            font-size: 18px;
            margin-bottom: 0;
        }

        &__description {
            font-size: 15px;
            margin-bottom: 15px;
        }

        &__input {
            height: 30px;
        }

        &__personal-data {
            margin-top: 15px;
            margin-bottom: 9px;
        }

        &__button {
            padding: 5px 60px;
        }

        &__label {
            font-size: 12px;
            line-height: 20px;
        }


    }

}

@media (max-height: 320px) {
    .modal-callback {
        padding: 0;
    }

    .about-clinic__description {
        font-size: 12px;
        line-height: 20px;
        margin: 15px 0 20px;
    }




}