* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    position: relative;
    
}

.container{
    max-width: 1140px;
    margin: 0 auto;

    &--rel{
        position: relative;
    }
}