* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    position: relative;

}

.title {
    color: #1c1b1b;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    line-height: 1;
    margin: 0 0 71px;

    &:after {
        content: '';
        width: 82px;
        height: 3px;
        background-image: linear-gradient(to right, #0085c7 0%, #00b4c2 100%);
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
    }

}

.container {
    max-width: 1140px;
    margin: 0 auto;

    &--rel {
        position: relative;
    }
}

@media (min-width: 992px) {
    .top__button:hover {
        background-color: #016891;
    }

    .modal-callback__button:hover {
        background-color: transparent;
        color: #fff;
    }

    .about__button:hover {
        opacity: 0.8;
    }

    .navigation__item:hover {
        color: #0390c6;
    }

    .recording__form-btn:hover {
        background-color: transparent;
        color: #fff;
    }

    .reviews__link:hover {
        &:after {
            width: 0;
        }
    }

    .second-slider__link:hover {
        background-color: #0085c7;
        color: #fff;
    }

    .service__link {
        &:hover .service__item:before {
            opacity: 1;
        }

        &:hover .service__icon svg {
            fill: #fff;
        }

        &:hover .service__categories {
            color: #fff;
        }

        &:hover .service__description {
            color: #fff;
        }
    }

    .footer__nav-link:hover {
        color: #0390c6;
    }

    .footer__social-link:hover {
        background: #000;
        border: 1px solid #fff;

        svg {
            fill: #fff;
        }
    }

    .info__link:hover{
        background: #0085c7;
        color: #fff;
    }

    .slider-top__item:hover .slider-top__name{
        color: #ffffff;
        &:after{
            opacity: 1;
        }
    }
    .specialists__tabs-title:hover{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #0085c7 0%, #00b4c2 100%);
            border-radius: 10px;
            z-index: -1;
        }
        background: transparent;
        color: #ffffff;
    }
}