.about-clinic {
    position: relative;

    // .about-clinic__wrapper

    &__wrapper {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        box-shadow: 0 0 18px 2px rgba(84, 84, 84, 0.1);
        z-index: 100;
        top: -70px;
        border-radius: 10px;
        overflow: hidden;

    }

    // .about-clinic__info

    &__info {
        flex-basis: 50%;
        background: #fff;
        padding: 20px;
    }

    // .about-clinic__title

    &__title {
        margin: 0 0 42px;
        color: #1c1b1b;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        position: relative;

        &:after {
            content: '';
            width: 82px;
            height: 3px;
            background-image: linear-gradient(to right, #0085c7 0%, #00b4c2 100%);
            position: absolute;
            bottom: -9px;
            left: 0;
        }
    }

    // .about-clinic__data

    &__data {}

    // .about-clinic__description

    &__description {
        color: #1c1b1b;
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 37px;
    }

    // .about-clinic__bottom

    &__bottom {}

    // .about-clinic__main-doctor

    &__main-doctor {}

    // .about-clinic__caption

    &__caption {}

    // .about-clinic__image

    &__image {
        flex-basis: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.data-clinic {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // .data-clinic__name

    &__name {
        flex-basis: fill;
        flex-shrink: 0;

        color: #1c1b1b;
        font-size: 14px;
        line-height: 24px;

    }

    // .data-clinic__value

    &__value {
        flex-basis: fill;
        flex-shrink: 0;

        color: #757575;
        font-size: 14px;
        line-height: 24px;
    }

    &__line {
        display: inline-block;
        flex-basis: 100%;
        margin-bottom: 4px;
        height: 1px;
        background: #757575;
        opacity: 0.25;
    }
}