* {
    box-sizing: border-box;
}

.top {
    background-color: #f8f8f8;
    // .top__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    // .top__contacts

    &__contacts {
        padding: 5px 0;
        color: #757575;
        font-size: 14px;
        line-height: 29px;
    }

    // .top__address

    &__address {
        margin-right: 35px;

        &:before {
            content: '';
            width: 12px;
            height: 16px;
            display: inline-block;
            margin-right: 10px;
            background: url(../img/top/top_map.png) no-repeat center;
            background-size: cover;
            vertical-align: middle;
        }
    }

    // .top__phone

    &__phone {
        text-decoration: none;
        color: inherit;

        &:before {
            content: '';
            width: 16px;
            height: 16px;
            display: inline-block;
            margin-right: 10px;
            background: url(../img/top/phone.png) no-repeat center;
            background-size: cover;
            vertical-align: middle;
        }
    }

    // .top__callback

    &__callback {}

    // .top__button

    &__button {
        padding: 12px 47px 12px 96px;
        background-color: #0390c6;
        border: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        outline: none;
        cursor: pointer;
        position: relative;
        transition: .3s;

        &:before {
            content: '';
            width: 24px;
            height: 24px;
            background: url(../img/top/call_back.png) no-repeat center;
            background-size: cover;
            position: absolute;
            top: 8px;
            left: 46px;
        }

        &:hover {
            background-color: #016891;
        }
    }
}



.modal-callback {
    position: fixed;
    width: 375px;
    top: 0;
    right: -100%;
    height: 100vh;
    background-image: linear-gradient(to right, #0085c7 0%, #00b4c2 100%);
    overflow: hidden;
    transition: .3s;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px  0;

    // .modal-callback__title

    &__title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        margin-bottom: 13px;
    }

    // .modal-callback__description

    &__description {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        margin-bottom: 81px;

    }

    // .modal-callback__form

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 263px;
    }

    // .modal-callback__input

    &__input {
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        background-color: #f8f8f8;
        padding: 0 31px 0 31px;
        outline: none;
        height: 38px;
        margin-bottom: 18px;
        width: 100%;
        color: #757575;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // .modal-callback__input--name

    &__input--name {}

    // .modal-callback__input--phone

    &__input--phone {}

    // .modal-callback__input--date

    &__input--date {}

    // .modal-callback__personal-data

    &__personal-data {
        margin-top: 49px;
        margin-bottom: 27px;
    }

    // .modal-callback__checkbox

    &__checkbox {
        display: none;

        &:checked+.modal-callback__label:after {
            transform: scale(1);
        }
    }

    // .modal-callback__label

    &__label {
        color: #ffffff;
        font-size: 14px;
        display: inline-flex;
        line-height: 22px;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            align-self: flex-start;
            flex: 0 0 14px;
            height: 14px;
            background: #fff;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 5px;

        }

        &:after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            top: 8px;
            left: 3px;
            background-color: #0085c7;
            transform: scale(0);
            transition: .3s;
            border-radius: 3px;

        }

    }

    // .modal-callback__button

    &__button {
        color: #757575;
        width: 200px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        background-color: #f8f8f8;
        padding: 10px 60px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }

    // .modal-callback__close

    &__close {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 19px;
        top: 8px;
        cursor: pointer;

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            transform: rotate(45deg);
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
        }

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            transform: rotate(-45deg);
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
}

.open-modal {
    right: 0;

}

.overlay{
    display: block;
    position: fixed;
    z-index: 90;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;
}

.overlay.active{
    opacity: 0.25;
    pointer-events: all;
}